h1 {
  font-size: 1.35rem;
  margin-top: 2em;
}

h2 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h3 {
  font-size: 1.0rem;
  margin-top: 2em;
}

h4 {
  font-size: 0.9rem;
  margin-top: 2em;
}

h5 {
  font-size: 0.8rem;
  margin-top: 2em;
}

h6 {
  font-size: 0.7rem;
  margin-top: 2em;
}